<div>
  <!-- <div>

  </div>

  <div>

  </div>

  <div>

  </div>
  <div>

  </div> -->

  <div class="login-form">
    <form>
        <div class="email-container">
            <mat-form-field>
                <mat-label>Email Address or User name</mat-label>
                    <input matInput placeholder="Email Address or User name" required name="emailid">
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password" required minlength="6" name="password">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-checkbox>Remember Me!</mat-checkbox>
                <button mat-flat-button color="primary" class="login-button" type="submit">
                    Log In
                </button>
            </mat-form-field>
        </div>
        <!-- <div class="password-container">
            
        </div>
       <div class="checkbox-container">
            
       </div>
      <div class="button-container">
        
      </div> -->
    </form>
  </div>
</div>
