.login-form{
   height: 500px;
   width: 500px;
   display: block;
   background-position: center;
   padding: 10% 10%;
}
.email-container{
    height: 500px;
    width: 500px;
    display: block;
    background-position: center;
}