<mat-sidenav-container class="example-container">
    <mat-sidenav class="side-nav-container" mode="side" opened>
        <div>
            <div class="icon-name">
                <span class="logo">
                    <img src="file:///C:/Users/91831/Downloads/images.jpg" height="20" width="20">
                </span>
                <span class="name">
                    Spotify
                </span>
            </div>
            <div class="list">
                <mat-nav-list>
                     <mat-list-item >
                       <a matLine href="..."></a>
                       <button mat-icon-button >
                          <mat-icon>home</mat-icon>
                       </button>
                    </mat-list-item>
                  </mat-nav-list>
            </div>      
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="bar-container">
            <div class="tool-content">
                <div class="arrow-container">
                    <div class="arrow-content">
                        <mat-icon>arrow_back_ios</mat-icon>
                        <mat-icon>arrow_forward_ios</mat-icon>
                    </div>
                </div>
                <div class="signup-container">
                    <div class="signup-content">
                        <button mat-flat-button class="signup-btn">
                           sign up
                        </button>
                    </div>
                </div>
                <div class="login-container">
                    <div class="login-content">
                        <button mat-flat-button class="login-btn">
                           log in
                         </button>
                    </div>
                </div>
            </div>
          </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
 
  